## Read GPI Safety Dataset

In [1]:
import pandas as pd

# read GPI.csv and display the first 5 rows
gpi = pd.read_csv('data/GPI.csv')
print(gpi.head())

                Country iso3c   2008   2009   2010   2011   2012   2013  \
0           Afghanistan   AFG  3.104  3.235  3.162  3.126  3.184  3.240
1                Angola   AGO  1.991  2.009  1.943  2.048  1.997  2.034
2               Albania   ALB  1.791  1.779  1.781  1.794  1.823  1.819
3  United Arab Emirates   ARE  1.651  1.627  1.647  1.642  1.700  1.665
4             Argentina   ARG  1.820  1.886  1.899  1.879  1.867  1.972

    2014   2015   2016   2017   2018   2019   2020   2021   2022   2023
0  3.167  3.254  3.338  3.386  3.512  3.538  3.581  3.588  3.545  3.448
1  2.065  1.922  1.960  1.936  1.988  1.952  1.918  2.016  1.970  2.020
2  1.824  1.824  1.779  1.786  1.723  1.733  1.774  1.781  1.764  1.745
3  1.735  1.793  1.826  1.929  1.892  1.886  2.022  1.980  1.979  1.979
4  1.882  1.929  1.954  1.934  1.911  1.984  1.948  1.926  1.904  1.837

## Read Resturant Dataset
https://www.kaggle.com/datasets/damienbeneschi/krakow-ta-restaurans-data-raw/code

In [8]:
# TA_resturants_europa.csv read and display the first 5 rows
ta_resturants_europa = pd.read_csv('data/TA_restaurants_europa.csv')

print(ta_resturants_europa['City'].unique())

['Amsterdam' 'Athens' 'Barcelona' 'Berlin' 'Bratislava' 'Brussels'
 'Budapest' 'Copenhagen' 'Dublin' 'Edinburgh' 'Geneva' 'Hamburg'
 'Helsinki' 'Krakow' 'Lisbon' 'Ljubljana' 'London' 'Luxembourg' 'Lyon'
 'Madrid' 'Milan' 'Munich' 'Oporto' 'Oslo' 'Paris' 'Prague' 'Rome'
 'Stockholm' 'Vienna' 'Warsaw' 'Zurich']

## Danskers Rejser

In [13]:
# DanskeRejsevaner.csv read and display the first 5 rows

danske_rejsevaner = pd.read_csv('data/Transportmidler.csv')
print(danske_rejsevaner.head())

                      Omr√•de Transportmiddel  Mindre end fire overnatninger  \
0  Danmark og udlandet i alt             Bil                        6743435
1  Danmark og udlandet i alt             Tog                        1356664
2  Danmark og udlandet i alt            Skib                         254546
3  Danmark og udlandet i alt             Fly                         508316
4  Danmark og udlandet i alt             Bus                         481791

   Mindst fire overnatninger
0                    3036999
1                     335193
2                     209670
3                    2879415
4                     248459

## Temperatur Lande

In [ ]:
# read combined_temperature.csv and display the first 5 rows
combined_temperature = pd.read_csv('data/combined_temperature.csv')
print(combined_temperature.head())

              Country  Year  Annual Mean  5-yr smooth Code
0  Dominican Republic  1901        23.71        23.65  DOM
1  Dominican Republic  1902        23.40        23.52  DOM
2  Dominican Republic  1903        23.45        23.38  DOM
3  Dominican Republic  1904        23.03        23.26  DOM
4  Dominican Republic  1905        23.44        23.16  DOM
170

## Big Max Index load

In [17]:
# read BigMacIndex.csv and display the first 5 rows$
big_mac_index = pd.read_csv('data/BigMacIndex.csv')
print(big_mac_index.head())

  flagCode         country  BigMacIndex_BigMacIndex_USD_202406
0       CH     Switzerland                                8.07
1       UY         Uruguay                                7.07
2       NO          Norway                                6.77
3       AR       Argentina                                6.55
4       GB  United Kingdom                                5.90